body {
	background-color: linear-gradient(red,cyan);
}
html, body {
	margin: 0;
	height: 100%;
}
.navbar{
	background-color:white;
	margin:0px;
	height:10%;
}
.is-primary
{
	background-color:crimson;
}
.button {
	background-color: crimson;
}