/*body {
	background-color: linear-gradient(red,cyan);
}*/
html, body {
	margin: 0;
	height: 100%;
}
.navbar{
	background-color:white;
	margin:0px;
	height:10%;
}
.is-primary
{
	background-color:crimson;
}
.button {
	background-color: crimson;
}
navbar-item :hover {
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes navbar-item{
	0%{linear-gradient(to top,rgba(0,0,0,0), rgba(0,0,0,0)}
	100% {
		linear-gradient(to top,rgba(0,0,0,1), rgba(0,0,0,0)
	}
}