body {
	background-color: linear-gradient(red,cyan);
}

.navbar{
	background-color:white;
	margin:0px;
	height:10%;
}
.is-primary
{
	background-color:crimson;
}
.button {
	background-color: crimson;
}