div .delimiter {
	width: 50%;
	flex:1;
	min-height:100vh;
	box-sizing: border-box;
}

div #left {
	font-weight: #031c32;
}
.background {
	background-image: linear-gradient(to left, rgba(0,0,0,0.5),rgb(0, 0, 0,255)), url('../Assets/Other/LandingPage/SushiImage.webp');
	display: flex;
	padding-left:5vw;
	padding-top: 5vh;
	background-color: black;
	min-height: 100vh;
	background-size: cover;
}

div #right
{
}
.titleText{

}