div .delimiter {
	width: 50%;
	flex:1;
	min-height:100vh;
	box-sizing: border-box;
}

div #left {
	font-weight: #031c32;
}
div #main {
	background-image: linear-gradient(to left, rgba(0,0,0,0.5),rgb(0, 0, 0,255)), url('../Assets/Other/LandingPage/SushiImage.webp');
	background-size: cover;
	padding-top: 7vh;
	padding-left:5vw;
}

div #right
{
}
.titleText{

}