<script src="/js/AJAX/AccountCreationForm.js"></script>
<form name="VerifyEmail" onsubmit="MakeAjaxRequest(event)">
	<div id="errorMessage">tst</div>
	<input type="email" name="email" placeholder="E-Mail"/>

	<input type="submit"></input>
</form>
