<form name="AccountCreation">
	<script src="~/js/AJAX/AccountCreationForm.js"></script>
	<input type="email" name="email" placeholder="E-Mail"/>
	<input type="password" name="password" placeholder="Password"/>
	<input type="password" name="confirmPassword" placeholder="Confir password"/>
	<input type="button" onsubmit="MakeAjaxRequest(document.forms['AccountCreation'].elements[1],MakeAjaxRequest(document.forms[AccountCreation].elements[0],MakeAjaxRequest(document.forms[AccountCreation].elements[2]" />
</form>
