<form name="AccountCreation" onsubmit="MakeAjaxRequest()">
	<script src="~/js/AJAX/AccountCreationForm.js"></script>
	<input type="email" name="email" placeholder="E-Mail"/>
	<input type="password" name="password" placeholder="Password"/>
	<input type="password" name="confirmPassword" placeholder="Confir password"/>
	<input type="submit"  value="stuff"></input>
</form>
