
<link rel="stylesheet" href="~/css/LandingPage.css" />
<div style="width: 100%; height:100%; display:flex; box-sizing: border-box;">
<div class="delimiter" id="left">
    hello
  </div>
<div class="delimiter" id="right">
    hello
  </div>
</div>
<div style="clear:both"></div>