<form name="AccountCreation" onsubmit="MakeAjaxRequest()">
	<script src="~/js/AJAX/AccountCreationForm.js"></script>
	<div id="errorMessage">tst</div>
	<input type="email" name="email" placeholder="E-Mail" />
	<input type="submit" value="stuff"></input>
</form>
