<p> you made it!</p>
<script src="/js/AJAX/CreateAccountPassword.js"></script>
<form name="AccountCreation" onsubmit="CreateUserWithPassword()">

	<output></output>

	<input type="password" name="password" placeholder="Password" id="password"/><br>
	<output name="passwordValidation"></output>

	<input type="password" name="confirmPassword" placeholder="Confirm Password" id="confirmPassword"/><br>
	<output name="confirmPasswordValidation"></output>

	<input type="hidden" name="url" contenteditable="false" value="@(ViewData["url"])"/>

	<input type="submit" value="stuff"></input>
</form>
