<link rel="stylesheet" href="~/css/ContactUs.css" />
<div class="background">
	<div class="main-content">
		<h1>Contact Us</h1>
		<p class="content">
		At The Rising Sun, we're always thrilled to hear from our guests. Your feedback is invaluable to us as it helps us refine our dishes and service to ensure an unforgettable dining experience every time.
		</p>
		<p class="content">
		Got a Question or Feedback?
		Whether it’s a compliment, a suggestion, or a concern, we’re all ears. We pride ourselves on our commitment to excellence and your input plays a crucial role in our continuous improvement. If there's anything we can do to make your next visit even more special, don't hesitate to let us know.
		</p>
		<p class="content">
		Experienced an Issue?
		We strive for perfection, but if we've fallen short in any way, we earnestly request the opportunity to make things right. Please reach out to us with the details of your experience, and we'll do everything we can to address it promptly and to your satisfaction.
		</p>
		<p class="content">
		How to Reach Us
		</p>
		<p class="content">
		Email: Feel free to send us an email at borodinsikita@gmail.com. We aim to respond to all inquiries within 24 hours.
		Phone: If you prefer a more immediate response, give us a call at +44 07716269154. Our friendly staff is available to take your call during business hours.
		Thank you for choosing [Your Restaurant Name]. We look forward to hearing from you and welcoming you back soon!
		</p>
	</div>
</div>