@model List<AsianRestaurantProject.Models.DataElementModel>

@{
    foreach (DataElementModel element in Model)
    {

        <div> @element.ind @element.name <img src="@($"./Assets/FoodIcons/Food{element.ind.ToString()}.png")"/> </div>
    }

}